<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title | default("DEFAULT TITLE") }}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/theme.css">
        {% block head %}
            {# My formatter acts up if I don't put something in here... #}
            <meta>
        {% endblock head %}
    </head>
    <body {% if bodyLayout %} class="{{ bodyLayout }}" {% endif %}>
        <nav>
            <a href="/">Home</a>
        </nav>
        <header>
            {% block header %}{% endblock header %}
        </header>
        <main>
            {% block main %}{% endblock main %}
        </main>
        <aside>
            {% block aside %}{% endblock aside %}
        </aside>
    </body>
</html>
